<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.ClassThreeDao">
	 <select id="queryClassThreeByid" parameterType="int" resultType="classThree">
	Select second_class_id secondClassId,third_class_no thirdClassNo,third_class_name thirdClassName from Class_Three where second_class_id =#{id}
	</select> 
	<select id="queryallClassThree" resultType="classThree">
	Select second_class_id secondClassId,third_class_no thirdClassNo,third_class_name thirdClassName from Class_Three
	</select>
</mapper>