<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.UserDao">
	<insert id="addBook" parameterType="book" >
		insert into t_user (id,user_no userNo,password,phone_no phoneNo,nick_name nickName,avatar,email,region,province_id provinceId,city_id cityId,district_id districtId,role,company_or_self_employed companyOrSelfEmployed,register_date registerDate)
	 		values (#{id},#{bookName},#{bookClass.bookClassId},#{bookAuthor},#{bookPubDate},#{bookPress},#{bookInventory})
	</insert>
	<select id="login" parameterType="user" resultType="user">
		select * from t_user where name=#{name} and password=#{password}
	</select>
</mapper>